@using PagedList
@using PagedList.Mvc
@model PagedList.IPagedList<KurumsalWeb.Models.Model.Entity.hizmet>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}
<link href="~/Content/PagedList.css" rel="stylesheet" />
<table class="table table-bordered">
    <thead>
        <tr>
            <th scope="col">Başlık</th>
            <th scope="col">Açıklama</th>
            <th scope="col">Resim</th>
            <th scope="col">İşlemler</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.baslik</td>
                <td>@Html.Raw(@item.aciklama)</td>
                <td><img src="@item.resimURL" alt="Alternate Text" width="200" height="200" /></td>
                <td><a href="/Hizmet/update/@item.hizmetID">Düzenle</a></td>
                <td> @Html.ActionLink("Sil", "delete", new { id = item.hizmetID }, new { @class = "btn btn-dark", onclick = "return confirm('Gerçekten Silmek istiyor Musunuz ? ')" }) |</td>
            </tr>
        }
    </tbody>
</table> <!--Her defasında Index sayfasına git, yeni sayfa değeri oluşturarak git-->
@Html.PagedListPager((IPagedList)Model, sayfa => Url.Action("Index", new { sayfa })) <!--Sayfaya giden URL.Action href komutu oluştu-->

<a class="btn btn-danger" id="btn" href="/Hizmet/Create">Yeni Hizmet Ekle</a>
<br />
<br />

<div class="alert alert-warning" id="gecis">
    <strong>@TempData["uyari"]</strong>
</div>